<html>
<head>
<title>Shakespeare</title>

<style type="text/css" id="page-css">
body {
    //font-family: arial,helvetica,clean,sans-serif; 
    font-size: 12px;
}

.imgDiv {
  width:40%; height:80%; 
  position:absolute; 
  top:10%; left:30%; 
  border:3px solid #eee;
  overflow:auto; 
  background: white   
}

.chartDiv {
  min-width: 60%; 
	height: 450px; 
	position:absolute;
	top:10%; left:30%;
	border:3px solid #eee;
	background:rgba(265,265,265,1); 
	overflow:auto; 
	margin: 10px auto
}
</style>

<script type="text/javascript" src="/js/angular-1.2.9/angular.js"></script>
<!-- jQuery is required for HighCharts -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/Highcharts-3.0.10/highcharts.src.js"></script>
<script type="text/javascript" src="/js/Highcharts-3.0.10/highcharts-more.src.js"></script>
<script type="text/javascript" src="/js/lib/underscore-min-1.5.0.js"></script>
<script type="text/javascript" src="/js/lib/wu-0.1.8.min.js"></script>
<script type="text/javascript" src="/js/plays.js"></script>

<script type="text/javascript">
shPlays.controller('play', function($scope, $http, $location, $window) {
  $scope.allPlays = __ALL_PLAYS__;
  $scope.showPopup = 0;
  $scope.showSideBar = 1;
  $scope.showCurrPlayChart = 0;
  $scope.sortField = 'order_app';
  
  // The entire play if no scene is selected, in which case it will be
  // just for the specific scene
  $scope.characters = []; 
  $scope.charData = {};
  
  $scope.allPlaysData = {};
  
  // Keep track of the positions of each of the popups.  
  // Otherwise there will be some jumping of the div elements
  $scope.popupPosn = {};
  
  var selectedPlay = $location.search()['play'];
  for (var i=0,len=$scope.allPlays.length; i<len; i++) {
    if( selectedPlay===$scope.allPlays[i].value ) {
      $scope.selectedPlay = $scope.allPlays[i];
      break;
    }
  }
  
  if($scope.selectedPlay) {
		$http.get('/shakespeare/play/'+$scope.selectedPlay.value).success(function(data) {
		  $scope.play_content = data;
		  $scope.characters   = data.characters; 
	    $scope.charData     = data.char_data;
		});
  };
  
  $scope.sceneImgOpen = function(evt, scene) {
    $scope.showImgPopup = 1;
    $scope.selected_graph_img_f = evt.currentTarget.src;
    $scope.characters = Object.keys(scene.char_data);
    $scope.charData   = scene.char_data;
  };

  $scope.sceneImgClose = function(evt) {
    $scope.showImgPopup = 0;
    $scope.characters   = $scope.play_content.characters;
    $scope.charData     = $scope.play_content.char_data;
  };

  $scope.doSubmit = function() {
		var selectedIdx  = document.forms[0].play.value;
		var selectedPlay = $scope.allPlays[selectedIdx].value;
		var forceRegen   = $location.search()['force_regen'];
		if(forceRegen==null)
		  forceRegen = 0;
		$window.location.href = '/shakespeare/?play='+selectedPlay+'&force_regen='+forceRegen;
  };
  
  $scope.LHSSortFn = function(character) {
    if($scope.sortField === 'char')
      return character;

    var char_data = $scope.charData[character];  
     
    if($scope.sortField === 'lines')
      return char_data.nlines;
    if($scope.sortField === 'edges')
      return char_data.nedges;

    return char_data.order_app;
  };
});
</script>

</head>

<body ng-app="shPlays" ng-controller="play">
<form>
<table border=0 cellpadding=1 cellspacing=1>
<tr>
  <td><b>Play:</b></td>
  <td>
    <select name="play" ng-model="selectedPlay"
      ng-options="p as p.label for p in allPlays" 
      ng-change="doSubmit()">
    </select>
  </td>
</tr>
</table>
&nbsp;<br>&nbsp;<br>

<div id="rh_nav" style="position:absolute; top:1%; right:1%;">
<!-- Oddly with the html5Mode directive hrefs don't work, w/o the target! -->
<a ng-href="/shakespeare/otherCharts" target="_self">Other Charts</a>
<br>
<a ng-click="showCurrPlayChart='By Lines'" style="text-decoration:underline; cursor:pointer">
  Lines By Character
</a><br>
<a ng-click="showCurrPlayChart='By Edges'" style="text-decoration:underline; cursor:pointer">
  Edges By Character
</a>
</div>

<div ng-show="selectedPlay!=null">

<div my-draggable id="scenePopup" ng-show="showImgPopup===1" class="imgDiv">
  <table border=0 cellpadding=0 cellspacing=0 width="100%">
    <tr><td align="right"><button ng-click="sceneImgClose()">Close</button></td></tr>
    <tr><td><img ng-src="{{selected_graph_img_f}}" width="100%"></td></tr>
  </table>
</div>

<div my-draggable id="currPlayCharPopup" ng-show="showCurrPlayChart!==0" class="chartDiv">
	<div align="right"><button ng-click="showCurrPlayChart=0">Close</button></div><br>
	<div character-chart></div>
</div>

<table border=1 cellpadding=0 cellspacing=0>
<tr>
  <td colspan="100%">
    <b>{{play_content.title}}</b> ({{play_content.year}})
  </td>
</tr>
<tr>
  <td width="20%" valign="top" ng-show="showSideBar===1">

    <table cellpadding=1 cellspacing=1 border=0 width="100%">
    <tr>
      <td colspan="100%" align="right">
        <button ng-click="showSideBar=0"><<</button>
      </td>
    </tr>
    <tr>
      <td align="left"><b><a href="" ng-click="sortField='char'; reverse=!reverse">Characters</a> 
        (<a href="" ng-click="sortField='order_app'; reverse=!reverse">OA</a>)</b></td>
      <td align="right"><b><a href="" ng-click="sortField='lines'; reverse=!reverse">Lines</a></b></td>
      <td align="right"><b><a href="" ng-click="sortField='edges'; reverse=!reverse">Edges</a></b></td>
    </tr>
    <tr ng-repeat="char in characters | orderBy:LHSSortFn:reverse">
      <td>{{char}}</td>
      <td align="right">{{charData[char].nlines}}</td>
      <td align="right">{{charData[char].nedges}}</td>
    </tr>
    </table>
  </td>
  <td width="1%" valign="top" ng-show="showSideBar===0">
    <button ng-click="showSideBar=1">>></button>
  </td>
  <td valign="top">
	  <table border=1 cellpadding=1 cellspacing=1>
		<tr ng-repeat="act in play_content.acts">
		  <td ng-repeat="scene in act">
		    <img ng-src="/{{scene.graph_img_f}}" ng-click="sceneImgOpen($event, scene)" 
		         width="100%" border="0" />
		  </td>
		</tr>
	  </table>

  </td>
</tr>
</table>

<div style="font-size: 10px">
{{play_content}}
</div>

</div>

</form>
</body>
</html>
