<html>
<head>
<title>Shakespeare</title>

<style type="text/css" id="page-css">
body {
  font-size: 14px;
}

.sectionDiv {
  position: absolute;
  top: 5%;
  left: 5%;
}

.chartDiv {
  min-width: 60%; 
	border:3px solid #eee;
	background:rgba(265,265,265,1); 
	overflow:auto; 
	margin: 10px auto
}
</style>

<script type="text/javascript" src="/js/angular-1.2.9/angular.js"></script>
<script type="text/javascript" src="/js/plays.js"></script>

<script type="text/javascript">
shPlays.controller('play', function($scope, $http, $location, $window) {
  $scope.whichChart = 0;
  $scope.allPlaysData = null;

  $scope.genreTragedy = true;  
  $scope.genreComedy = true;
  $scope.genreHistory = true;
  
  //$scope.chartAllPlaysWhichMetric = 'nlines';
  
  // Keep track of the positions of each of the popups.  
  // Otherwise there will be some jumping of the div elements
  //$scope.popupPosn = {};
  
  $scope.enableAllPlaysChart = function(whichChart) {
    if($scope.allPlaysData == null) {
	    $http.get('/shakespeare/corpus/lineCounts').success(function(data) {
	      $scope.allPlaysData = data;
	      $scope.whichChart = whichChart;
	    });
    }
    else {
      $scope.whichChart = whichChart;
    }
  };
  
  $scope.enableAllPlaysChart('Top Characters (Lines)');
});
</script>
</head>

<body ng-app="shPlays" ng-controller="play">

<div id="rh_nav" style="position:absolute; top:1%; right:1%;">
  <a href="/shakespeare" target="_self">Plays</a>
</div>

<table class="sectionDiv" width="90%" border=1 cellpadding=0 cellspacing=0>
<tr>
  <td width="20%" valign="top">
    
	  <a ng-click="enableAllPlaysChart('Top Characters (Lines)')" 
	    style="text-decoration:underline; cursor:pointer">Top Characters (Lines)</a><br>
	  
	  <a ng-click="enableAllPlaysChart('Top Characters (Edges)')" 
	    style="text-decoration:underline; cursor:pointer">Top Characters (Edges)</a><br>	  
	  
	  <a ng-click="enableAllPlaysChart('All Plays (Lines)')" 
	    style="text-decoration:underline; cursor:pointer">All Plays (Lines)</a><br>

	  <a ng-click="enableAllPlaysChart('All Plays (Edges)')" 
	    style="text-decoration:underline; cursor:pointer">All Plays (Edges)</a><br>

    <div style="padding-top: 20px">
      Filter by Genre:<br>
      <input type="checkbox" ng-model="genreTragedy">Tragedy<br>
      <input type="checkbox" ng-model="genreComedy">Comedy<br>
      <input type="checkbox" ng-model="genreHistory">History<br>
	  </div>
	   
  </td>
  <td valign="top">
		<div id="allPlaysCharPopup" class="chartDiv">
			<div all-plays-chart></div>
		  &nbsp;<br>&nbsp;<br>
		</div>
  </td>
</tr>
</table>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/Highcharts-3.0.10/highcharts.src.js"></script>
<script type="text/javascript" src="/js/Highcharts-3.0.10/highcharts-more.src.js"></script>
<script type="text/javascript" src="/js/lib/underscore-min-1.5.0.js"></script>
<script type="text/javascript" src="/js/lib/wu-0.1.8.min.js"></script>

</body>
</html>
